.newsArticle {
  max-width: 50rem;

  figure {
    margin-left: 0;
  }
}

.pageDivider {
  background-color: var(--color-black);
  content: "";
  display: block;
  height: var(--spacing-4-xs);
  margin-top: var(--spacing-l);
  width: var(--spacing-4-xl);
}

.articleDate{
  color: var(--color-black-60);
  font-size: var(--fontsize-body-m);
}

.articleType {
  font-size: var(--fontsize-body-xl);
  font-weight: bold;
}
