@import '/styles/variables.scss';

.eventHero {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid var(--color-black);
}

.imageContainer {
  position: relative;
  min-height: 360px;

  @media print {
    display: none;
  }
}

.eventDetailContainer {
  display: flex;
  flex-direction: column;
  .location {
    display: flex;
    font-size: var(--fontsize-body-m);
    margin-top: var(--spacing-2-xs);
    
    svg {
      margin-right: var(--spacing-xs);
    }

    a svg {
      vertical-align: bottom;
      margin-left: var(--spacing-xs);
      margin-right: 0;
    }
  }
}

.contentRegionEventLeft {
  width: 100%;
}

.contentRegionEventRight {
  padding: var(--spacing-m);
}

.eventLinkWrapper {
  margin: var(--spacing-m) 0;
}

.headingContainer {
  padding: var(--spacing-s);

  ul[class*="events_tags"] {
    @media print {
      display: none;
    }
  }

  h1 {
    font-size: var(--fontsize-heading-l);
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .location {
    display: flex;
    font-size: var(--fontsize-body-m);
    margin-top: var(--spacing-2-xs);
    
    svg {
      margin-right: var(--spacing-xs);
    }

    a svg {
      vertical-align: bottom;
      margin-left: var(--spacing-xs);
      margin-right: 0;
    }
  }
}

.contentContainer {
  padding: var(--spacing-s);

  @media print {
    ul {
      margin-top: var(--spacing-s) !important;
      margin-bottom: var(--spacing-s) !important;
    }
  }
}

@media (min-width: $breakpoint-l) {
  .eventHero {
    flex-direction: row;
  }

  .headingContainer {
    padding: var(--spacing-l) var(--spacing-m);
    width: 40%;
  }

  .imageContainer {
    width: 60%;
  }

  .contentContainer {
    max-width: 50rem;
  }
}

@media (min-width: $breakpoint-m) {
  .eventDetailContainer {
    display: flex;
    flex-direction: row;
  }
  .contentRegionEventLeft {
    width: 60%;
  }
}