@import '/styles/variables.scss';

.contactInfo {
  margin-top: 50px;
  
  @media (min-width: $breakpoint-l) {
    display: none;
  }

  @media print {
    page-break-inside: avoid;
  }

  &.aside {
    display: none;

    @media (min-width: $breakpoint-l) {
      display: block;
    }
  }

  .contentTitle {
    border-bottom: 2px solid var(--color-black);
    padding: var(--spacing-2-xs) 0;
    margin-bottom: 24px;

    span {
      font-size: var(--fontsize-heading-s);
      font-weight: 500;
    }
  }
}

.infoBlock {
  display: flex;
  column-gap: 15px;
  border-bottom: 2px solid var(--color-silver);
  margin-bottom: 24px;

  .title {
    font-weight: 600;
  }
}

.unitImage {
  margin-bottom: var(--spacing-xl);

  img {
    max-width: 100%;
  }
}