.consentInfoWrapper {
  margin: var(--spacing-s);
  padding: var(--spacing-s);
  background-color: var(--color-black-5);

  h3 {
    display: flex;
    margin-top: 0;

    svg {
      margin: auto var(--spacing-2-xs) auto 0;
    }
  }

  a {
    text-decoration: none;
  }

  button {
    --focus-outline-color: var(--color-black-90);
  }
}
