@import '/styles/variables.scss';

.quoteContainer {
  border-left: 0.5rem solid var(--color-metro);
  padding: 0 0 0 1rem;
  width: 100%;
}

.quoteContent {
  color: rgb(18, 18, 18);
  font-style: italic;
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  margin-left: 0;
}

.quoteAuthor {
  color: rgb(26, 26, 26);
  font-size: 18px;
  line-height: 27px;
}
