@import '/styles/variables.scss';

.eventList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--spacing-xl) var(--spacing-s);

  &.short {
    justify-content: space-between;
  }

  .tags {
    margin-top: -1.5rem;
  }

  [class*="Linkbox-module_withBorder"]:focus-within {
    outline-color: var(--color-black-90);
  }
}

.eventListTitleArea {
  a {
    display: flex;
    align-items: center;
    font-weight: 700;

    svg {
      margin-left: var(--spacing-s);
      transition: transform .2s linear;
    }

    &:hover svg {
      transform: translateX(0.5rem);
    }
  }
}

.eventListDescription {
  max-width: 50rem;
}

.eventCard {
  background-color: var(--color-white);
  flex-grow: 1;
  width: 100%;

  &> div {
    height: 100%;
  }

  .eventCardContent {
    padding: var(--spacing-xs);
  }

  h3 {
    font-weight: 700;
  }

  a svg {
    color: var(--color-metro);
    transition: transform .2s linear;
  }

  &:hover a svg {
    transform: translateX(0.5rem);
  }
}

.linkBox {
  & > div {
    padding: 0 0 4rem 0 !important;
  }
}

.filter,
.results {
  font-weight: 700;
  padding-top: var(--spacing-s);
  padding-bottom:  var(--spacing-2-xs);
}

.supplementary {
  --background-color-hover: var(--color-black-90) !important;  
  --background-color-focus: var(--color-black-90) !important;  
  --background-color-hover-focus: var(--color-black-90) !important;
  --border-color-focus: transparent !important;
  --border-color-hover-focus: transparent !important;
  --color: var(--color-black-90) !important;
  --color-hover: var(--color-white) !important;
  --color-focus: var(--color-white) !important;
  --color-hover-focus: var(--color-white) !important;

  border: none !important;
  margin-bottom: var(--spacing-s);
}

.filterTags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  font-size: var(--fontsize-body-s);
  padding: 0 var(--spacing-3-xs) 0 0;

  > button {
    --focus-outline-color: var(--color-black-90) !important;
  }

  .filterTag {
    --background-color: var(--color-suomenlinna-medium-light);
    --background-color-hover: var(--color-black-90);
    --background-color-focus: var(--color-black-90);
    --background-color-hover-focus: var(--color-black-90);
    --background-color-disabled: var(--color-black-20);
    --border-color: transparent;
    --border-color-hover: var(--color-black-20);
    --border-color-focus: var(--color-black-20);
    --border-color-hover-focus: var(--color-black-20);
    --border-color-disabled: var(--color-black-20);
    --color: var(--color-black-90);
    --color-hover: var(--color-white);
    --color-focus: var(--color-white);
    --color-hover-focus: var(--color-white);
    --color-disabled: var(--color-white);

    border: none !important;
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-s);
    width: auto;

    span:first-letter {
      text-transform: capitalize;
    }
  }

  .selected {
    border: none !important;
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-s);
    width: auto;
  
    span:first-letter {
      text-transform: capitalize;
    }
  }
}

ul.tags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  font-size: var(--fontsize-body-s);
  padding: 0 var(--spacing-3-xs) 0 0;

  .tag {
    background-color: var(--color-suomenlinna-medium-light);
    padding: var(--spacing-3-xs) var(--spacing-xs);
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-2-xs);
    width: auto;
    
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.loadMore {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-l);

  > button {
    --border-color-focus: var(--color-black-90);
    --border-color-hover-focus: var(--color-black-90);
  }
}

.relatedEvent  {
  max-width: 50rem;
  padding: var(--spacing-s);
  border-bottom: 1px solid var(--color-black-10);
  position: relative;
  &:first-child {
    border-top: 1px solid var(--color-black-10);
  }
  a {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    border: none;
  }
  svg {
    position: absolute;
    margin-left: 20px;
    right: 0;
  }
}

@media (min-width: $breakpoint-s) {
  .eventCard {
    width: calc(50% - var(--spacing-l));
  }
}

@media (min-width: $breakpoint-l) {
  .eventListTitleArea {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  
  }
  .eventCard {
    width: calc(33.3333% - var(--spacing-l));
  }
}

@media (min-width: $breakpoint-xl) {
  .eventCard {
    flex-grow: 0;
  }
}
