.mapEmbedded {
  background-color: var(--color-silver-light);
  padding: 24px;

  .mapTitle {
    display: flex;
    gap: 5px;
    font-weight: 600;
  }

  iframe {
    border: 0;
    margin: 24px 0;
  }

  .mapFooter {
    display: flex;
    flex-flow: row;
    gap: 5px;
    justify-content: flex-end;

    > * {
      display: inline-flex;
    }
  }
}