@import '/styles/variables.scss';

.zover {
  z-index: 101;
}

.sidenav {
  --side-navigation-active-indicator-background-color: var(--color-metro) !important;
  --side-navigation-background-color: var(--color-white) !important;
  --side-navigation-level-border-color: var(--color-fog-light);
  --side-navigation-level-border-color-focus: var(--color-coat-of-arms);
  --side-navigation-level-border-color-hover: var(--color-fog-light);
  --side-navigation-level-background-color: var(--color-white) !important;
  --side-navigation-level-background-color-active: var(--color-white) !important;
  --side-navigation-level-background-color-hover: var(--color-white) !important;
  --side-navigation-level-color: var(--color-black);
  --side-navigation-level-color-active: var(--color-black);
  --side-navigation-level-color-hover: var(--color-black);
  --side-navigation-mobile-menu-border-color: var(--color-white) !important;
  --side-navigation-mobile-menu-z-index: 100 !important;
  margin-top: var(--spacing-xl);
}

.mainLevel {
  &:not(.active) {
    > a, > button {
      padding-left: 0;
    }
  }
  &.active {
    > a, > button {
      font-weight: 600;
      padding-left: var(--spacing-s);
    }
  }
}

.subLevel {
  &.active {
    > a, > button {
      font-weight: 400 !important;
      padding-left: var(--spacing-s);
    }
  }
}

.mainLevel, .subLevel {
  padding: var(--spacing-s) 0;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-black-10);
  }
}

.topLevel {
  border-bottom: 2px solid var(--color-black);
  > a {
    padding-left: 0 !important;
    font-size: var(--fontsize-heading-s);
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--spacing-m);
  margin: 0 auto;
  width: 100%;
  max-width: var(--breakpoint-xl);
  border-top: 1px solid var(--color-black-10);
  min-height: var(--spacing-3-xl);
}

.breadcrumbElement {
  min-height: var(--spacing-l);
  align-self: stretch;
  align-items: center;
  display: flex;
  line-height: 0;
  outline: none;
  padding: var(--spacing-3-xs) 0;
  span {
    margin: 0 var(--spacing-2-xs);
    font-weight: 600;
    font-size: var(--fontsize-body-s);
    line-height: var(--lineheight-s);
  }
}

@media (min-width: $breakpoint-s) {
  .breadcrumbElement {
    height: var(--spacing-3-xl);
  }
}


.footer {
  nav {
    @media (min-width: $breakpoint-m) {
      display: grid !important;
      grid-template: repeat(4, auto) / repeat(4, auto);
      grid-auto-flow: column;
      justify-items: left;
    }
  }
  .backToTopButton {
    font-size: var(--fontsize-body-l) !important;
    text-decoration: none !important;
    margin-left: auto;
    > span {
      display: flex;
    }
  }
  > div > div {
    justify-content: flex-start !important;
    > div {
      margin-right: var(--spacing-m) !important;
      &:last-of-type {
        flex: 1 1;
        @media (min-width: $breakpoint-m) {
          display: flex;
        }
      }
      > a, > span {
        align-self: center;
      }
    }
  }
}

