// HDS breakpoint values for media queries.
// because css vars can't be used with media queries.
$breakpoint-xs: 320px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1248px;
$breakpoint-2xl: 1440px;
