@import '/styles/variables.scss';

.HDSAccordion {
  [role="heading"] {
    font-weight: 400;
  }

  [class*="Accordion-module_closeButton"] {
    --border-color-focus: var(--color-black-90) !important;
    --border-color-hover-focus: var(--color-black-90) !important;
  }

  [class*="Accordion-module_headingContainer"] {
    --header-focus-outline-color: var(--color-black-90);
  }

  @media print {
    break-inside: avoid;
  }
}

.button[id="numbered-accordion-button"] {
  --background-color: var(--color-fog-light);
  --background-color-hover: var(--color-fog-light);
  --background-color-focus: var(--color-fog-light);
  --background-color-hover-focus: var(--color-fog-light);

  --color: var(--color-black-90);
  --color-hover: var(--color-black-90);
  --color-focus: var(--color-black-90);
  --color-hover-focus: var(--color-black-90);

  --focus-outline-color: var(--color-black-90) !important;

  --focus-outline-color: var(--color-black-90) !important;

  border: none;
  display: grid;
  grid-template-columns: 90% 10%;
  text-align: left;
  width: 100%;

  @media print {
    background: none;
  }

  span {
    display: flex;
    align-items: center;
    font-size: var(--fontsize-heading-xs);
  }

  div {
    justify-self: end;
    height: var(--spacing-layout-m);
    width: var(--spacing-layout-m);
  }

  svg {
    --icon-size: var(--spacing-layout-m);

    @media print {
      display: none;
    }
  }
}

.accordionHeading {
  margin-bottom: var(--spacing-s);
  position: relative;

  @media print {
    break-inside: avoid;
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    bottom: -15px;
    left: 48px;
    border-left: 2px dotted var(--color-black);
    transform: translate(-50%);

    @media print {
      display: none;
    }
  }
}

.number {
  background-color: var(--color-bus-dark);
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontsize-body-xl) !important;
  line-height: 1;
  height: 48px;
  min-width: 48px;
  width: 48px;
  margin-right: var(--spacing-s);
  padding: 0;

  @media print {
    border: 1px solid var(--color-black-90);
    color: var(--color-black-90);
    background: none;
  }
}

.accordionContent {
  background-color: var(--color-fog-light);
  display: flex;
  padding-right: var(--spacing-l);
  padding-left: var(--spacing-l);

  @media print {
    background: none;
  }
}

.componentHeader {
  margin-bottom: var(--spacing-s);

  h2 {
    margin: 0;
  }

  > button {
    margin-left: -2px;
  }

  [class*="Button-module_icon"] {
    margin-left: 0 !important;
  }
}
.iconAccordionButton {
  border: none !important;
  width: 100%;
  --color: var(--color-black-90);
  --color-hover: var(--color-black-90);
  --color-focus: var(--color-black-90);
  --color-hover-focus: var(--color-black-90);
  --focus-outline-color: var(--color-black-90) !important;

  > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
    align-items: center;
  }

  .iconAccordionHeaderText {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}


@media (min-width: $breakpoint-s) {
  .button[id="numbered-accordion-button"] {
    padding: var(--spacing-2-xs) var(--spacing-s);

    span {
      font-size: var(--fontsize-heading-m);
    }
  }

  .accordionHeading {
    &:not(:last-child)::after {
      left: 56px;
    }
  }
}
