@import '/styles/variables.scss';

.banner {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-l);

  @media print {    
    border: 1px solid var(--color-black-90);
    background: none !important;
    break-inside: avoid;
    flex-direction: column;
  }

  .bannerIcon {
    margin-right: var(--spacing-m);
    margin-bottom: var(--spacing-s);

    @media print {
      display: none;
      margin: 0;
    }    
  }

  h2 {
    margin-top: 0;
  }
}

@media (min-width: $breakpoint-m) {
  .banner {
    flex-direction: row;
  }
}
